swagger: '2.0'

info:
  title: Buffer OpenAPI Spec
  description: |
    OpenAPI Spec for Buffer, handcrafted by [Rodolfo Carvalho](http://rodolfocarvalho.net).

    **Note**: This is not an official spec. This is not endorsed by Buffer.
  version: 1.0.0
  license:
    name: MIT License
    url: https://github.com/rhcarvalho/buffer-openapi-spec/blob/master/LICENSE

externalDocs:
  description: Official Buffer API documentation
  url: https://buffer.com/developers/api

host: api.bufferapp.com
basePath: '/1'
schemes:
  - https

consumes:
  - application/x-www-form-urlencoded

produces:
  - application/json

tags:
  - name: auth
    description: Authentication with Buffer is the first step in building your app.
    externalDocs:
      url: https://buffer.com/developers/api/oauth

securityDefinitions:
  Bearer:
    # header must be set to "Authorization: Bearer ${AccessToken}"
    type: apiKey
    in: header
    name: Authorization

security:
  - Bearer: []

paths:
  /oauth2/token.json:
    post:
      summary: Getting an Access Token
      security: []
      parameters:
        - in: formData
          name: client_id
          required: true
          type: string
        - in: formData
          name: client_secret
          required: true
          type: string
        - in: formData
          name: redirect_uri
          required: true
          type: string
        - in: formData
          name: code
          required: true
          type: string
        - in: formData
          name: grant_type
          required: true
          type: string
          enum: [authorization_code]
      responses:
        200:
          description: >
            If your request is successful we will return a long-lived access
            token which can be used to access the users account details for
            all further api requests.
          schema:
            type: object
            properties:
              access_token:
                type: string
      tags:
        - auth
